alias emacs="emacs -nw"
alias e="emacs -nw"
alias eyecandy='clear && screenfetch -E'
alias ec='eyecandy'

alias bc='bc -q'

alias j='jump'

alias msc='/Users/Timo/Desktop/Privat/Diverses/Scripts/sconsify'

alias hl='clear && tail -f ~/.zhistory | less -S'

alias gcl='git clone'
alias gcm='git commit -am'

alias todo='todolist'
alias ta='/Users/Timo/Desktop/Privat/Diverses/Scripts/todolist_add.sh'
alias tl='/Users/Timo/Desktop/Privat/Diverses/Scripts/todolist_show.sh'
alias tc='/Users/Timo/Desktop/Privat/Diverses/Scripts/todolist_complete.sh'
alias td='/Users/Timo/Desktop/Privat/Diverses/Scripts/todolist_delete.sh'
alias tac='/Users/Timo/Desktop/Privat/Diverses/Scripts/todolist_archive.sh'